/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  text-align: center;
}

h2 {}

h3 {}

p {
  margin: 0;
}

a {
  color: yellow;
}



/* ---- layout ---- */

#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
#site-header {
  padding: 10px;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 10px;
  background: #111;
}

#site-main {
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

nav > ul{
  display: flex;
  justify-content: space-between;
}

.landing-page{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer > ul{
  display: flex;
  justify-content: space-between;
}